<div class="sectionOne">
	<div class="column">
		<div>
			<p class="banner">
				We need your location to show you the nearest stores.
			</p>
		</div>

		<div>
			<button class="btn" id="access-location">Allow Access To Location</button>
		</div>

		<div>
			<button class="btn" id="order-medicine" disabled>Order Medicine</button>
		</div>
	</div>
</div>
