*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: #384047;
}


.sectionOne{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.btn{
    margin: 5px;
}

.buttons{
    margin:5px;
    display: flex;
    justify-content: center;
}

form {
    max-width: 700px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

.form-group{
    display: flex;
    justify-content: space-evenly;
}

